.about {
  padding-top: 34px;
  padding-bottom: 61px;
}

.about__title {
  margin-bottom: 31px;
}

.about__list {
  .resetDefaultListStyle();

  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: @black;
}

.about__item:not(:last-child) {
  margin-bottom: 35px;
}
