.contacts {
  padding-top: 44px;
  padding-bottom: 39px;
}

.contacts__title {
  margin-bottom: 42px;
}

.contacts__row:last-of-type {
  margin-bottom: 42px;
}

.contacts__email-adress {
  color: @grey-brown;
}

.contacts__text {
  margin: 0;

  line-height: 30px;
}

.contacts__map {
  margin-bottom: 39px;
}
