.copyright__link {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;

  &:hover,
  &:focus {
    path {
      fill: @greeny-blue;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
