.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;

  path {
    fill: @seafoam-blue;
  }

  &:hover,
  &:focus {
    path {
      fill: @greeny-blue;
    }
  }

  &:active {
    opacity: 0.3;
  }

  .copyright__icon {
    margin-left: 30px;
  }
}

.copyright__icon {
  pointer-events: none;
}
