.fieldset {
  position: relative;

  padding: 0;
  margin: 0;

  border: none;

  overflow: hidden;
}

.fieldset legend {
  width: 100%;
  position: relative;

  font-size: 17px;
  line-height: 16px;
  font-weight: 700;

  color: @seafoam-blue;

  text-transform: uppercase;
}

.fieldset legend::after {
  content: "";
  position: absolute;

  top: 7px;
  right: 0;

  width: calc(100% - 60px);
  height: 1px;

  background-color: @light-green;

  z-index: -1;
}

@media (min-width: @tablet-width) {
  .fieldset legend {
    width: auto;

    &::after {
      content: none;
    }
  }
}
