.fieldset {
  position: relative;

  padding: 0;
  margin: 0;

  border: none;

  overflow: hidden;
}

.fieldset legend {
  padding-right: 20px;

  font-size: 17px;
  line-height: 16px;
  font-weight: 700;

  color: @seafoam-blue;

  text-transform: uppercase;

  background-color: white;
}

.fieldset::after {
  content: "";
  position: absolute;

  top: 7px;
  left: 30px;

  width: calc(100% - 60px);
  height: 1px;

  background-color: #62d1da;

  z-index: -1;
}

@media (min-width: @tablet-width) {
  .fieldset::after {
    content: none;
  }
}
