.page-footer {
  padding: 23px 0;

  background-color: @light-grey;
}

.page-footer__wrapper {
  .container();
}

.page-footer__link {
  display: none;
}

.page-footer__link[href]:hover .page-footer__icon-logo,
.page-footer__link[href]:focus .page-footer__icon-logo {
  fill: @greeny-blue;
}

.page-footer__link[href]:active .page-footer__icon-logo {
  opacity: 0.3;
}

.page-footer__socials-list {
  padding-bottom: 22px;
  margin-bottom: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;

  border-bottom: 1px solid @grey-3;
}

.page-footer__socials-list__item {
  padding: 0 21px;
}

.page-footer__copyright {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding-top: 52px;
    padding-bottom: 51px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .page-footer__link {
    display: block;
  }

  .page-footer__icon-logo {
    pointer-events: none;
  }

  .page-footer__socials-list {
    margin: 0;
    padding: 0;
    margin-left: 80px;

    border-bottom: none;
  }

  .page-footer__copyright {
    margin: 0;
  }
}
