.page-title {
  margin: 0;

  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: @black;

  &--size--lg {
    font-size: 25px;
  }

  &--size--md {
    font-size: 18px;
  }

  &--size--sm {
    font-size: 17px;
    line-height: 24px;
  }

  &--modal {
    font-size: 25px;
  }
}

@media (min-width: @tablet-width) {
  .page-title {
    font-size: 43px;
    line-height: 50px;

    &--size--lg {
      font-size: 43px;
      line-height: 50px;
    }

    &--size--md {
      font-size: 43px;
      line-height: 50px;
    }

    &--size--sm {
      font-size: 20px;
      line-height: 24px;
    }

    &--modal {
      font-size: 30px;
      line-height: 57px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-title {
    font-size: 53px;
    line-height: 57px;

    &--size--lg {
      font-size: 53px;
      line-height: 57px;
    }

    &--size--md {
      font-size: 53px;
      line-height: 57px;
    }

    &--size--sm {
      font-size: 20px;
      line-height: 24px;
    }

    &--modal {
      font-size: 30px;
      line-height: 57px;
    }
  }
}
