.promo {
  background-color: #f1f1f1;

  &--toys {
    padding-top: 75px;

    background-image: url("/img/hero-mobile@1x.jpg");
    background-position: -128px -18px;
    background-repeat: no-repeat;
  }
}

.promo__title {
  margin-bottom: 120px;
}

.promo__button {
  display: block;

  padding: 30px 0 30px 0;

  font-size: 19px;
  font-weight: 700;
  color: #ffffff;

  &--style--1 {
    background-color: #63d1bb;
  }

  &--style--1:active {
    color: @button-font-active;
    background-color: #59d5bc;
  }

  &--style--2 {
    background-color: #56c3b2;
  }

  &--style--2:active {
    color: @button-font-active;
    background-color: #46c1ae;
  }
}
