.radio-button__input {
  display: none;

  &:hover,
  &:focus {
    border-color: rgba(68, 68, 68, 0.3);
  }

  &:active {
    border-color: #62d1ba;
  }
}

.radio-button {
  display: inline-block;
  width: 82px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  // display: inline-block;
  background-color: #ffffff;
  border: 2px solid rgba(68, 68, 68, 0.1);

  text-align: center;
  cursor: pointer;
}
