.reviews__title {
  margin-bottom: 38px;
}

.reviews__quote {
  margin: 0;
  margin-bottom: 40px;

  line-height: 30px;
}

.reviews__author {
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  color: @black;

  .reviews__instagram {
    font-weight: 400;
  }
}

.reviews__slider {
  margin-bottom: 38px;
}

.reviews__button {
  margin-bottom: 45px;
}
