.site-list {
  .resetList();

  font-size: 17px;
  font-weight: 700;
}


.site-list__item {
  margin: 0 -30px;
  border-bottom: 1px solid @grey;
}

.site-list__link {
  display: block;
  padding: 27px 10px 27px 75px;

  color: #000000;

  &[href]:hover,
  &[href]:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &[href]:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .site-list__item {
    margin: 0;
    border-bottom: 0;
  }

  .site-list__link {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .site-list__link {
    padding: 32px 35px;

    &--no-left-offset {
      padding-left: 0;
    }
  }

  .site-list__item + .site-list__item {
    border-left: 1px solid @grey;
  }
}

