.site-list {
  .resetDefaultListStyle();

  font-size: 17px;
  font-weight: 700;
}

.site-list__item {
  padding-top: 28px;
  padding-bottom: 27px;
}

.site-list__link {
  color: @black;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
