.slider__slide {
  margin-bottom: 31px;
}

.slider__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slider__button {
  display: inline-block;
  padding: 26px 10px;
  width: 50%;
  box-sizing: border-box;

  background-color: @white;

  border: 1px solid @grey;

  vertical-align: middle;

  &--back {
    background-image: url("../img/icon-left-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
