@page-fonts: "Open Sans", "Arial", sans-serif;
@black: #000000;
@white: #ffffff;
@grey: #ececec;
@grey-brown: #444444;
@greeny-blue: #46c1ae;
@seafoam-blue: #63d1bb;
@aqua-marine: #56c3b2;
@button-font-active: rgba(255, 255, 255, 0.3);
@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-width-only: 767px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
