.checkout {
  margin-top: 23px;
  margin-bottom: 25px;
}

.checkout__description {
  .container();

  margin-bottom: 25px;

  font-size: 13px;
}

@media (min-width: @tablet-width) {
  .checkout {
    padding-top: 50px;
    margin-bottom: 0;
  }

  .checkout__description {
    margin-bottom: 8px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .checkout {
    padding-top: 101px;
    margin-bottom: 0;
  }

  .checkout__description {
    margin-bottom: 7px;

    padding-left: 226px;
    padding-right: 200px;
  }
}
